/* * Main Styles * */

.full-width {
	width: 1400px;
	clear: both;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 400px;
	float: left;
}

.left {
	margin-left: 100px;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #095256;
}

/* * Header Styles * */

header {
	background-image: url("../img/hero-image.png");
	height: 800px;
	background-repeat: none;
}


header h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color: #bdbf09;
	font-size: 60px;
	text-align: center;
	padding-top: 350px;
	margin: 0;
}

header p {
	font-size: 48px;
	text-align: center;
}



/* * Portfolio Styles * */

#portfolio {
	height: 1450px;
}

#portfolio .left {
	margin-right: 50px;
}

#portfolio h2 {
	padding-top: 100px; 
	padding-bottom: 100px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
}

#portfolio h3,
#portfolio p {
	font-size: 25px;
}


#portfolio p {
	margin-top: -20px;
	margin-bottom: 100px;
}

.portfolio-img {
	border: solid 1px #2c3233;
}

/* * About Styles * */

#about {
	height: 650px;
	background-color: #087e8b;
	color: #fff;
	text-align: center;
}


#about h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	padding-top: 50px; 
	padding-bottom: 50px;
}


#about p {
	font-size: 20px;
	width: 500px;
	text-align: justify;
	margin-left: 50px;
}

/* * Footer Styles * */

#contact {
	height: 450px;
	background-color: #095156;
	color: #fff;
	text-align: center;
}

#contact h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 36px;
	margin-top: 0;
	padding-top: 50px;
}

#contact p,
#contact h4 {
	font-size: 24px;
}

#contact a {
	text-decoration: none;
	color: #fff;
}

#contact .social a{
	margin-right: 25px;
}

#contact .copyright p {
	font-size: 18px;
	padding-top: 100px;
}






