/* * Main Styles * */

.full-width {
	width: 1400px;
	clear: both;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 400px;
	float: left;
}

.left {
	margin-left: 100px;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #095256;
}

/* * Header Styles * */

header {
	background-image: url("../img/hero-image.png");
	height: 800px;
	background-repeat: none;
}


header h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color: #bdbf09;
	font-size: 60px;
	text-align: center;
	padding-top: 350px;
	margin: 0;
}

header p {
	font-size: 48px;
	text-align: center;
}



/* * Portfolio Styles * */

#portfolio h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
}

#portfolio h3,
#portfolio p {
	font-size: 25px;
}


#portfolio p {
	margin-top: -20px;
	margin-bottom: 60px;
}

.portfolio-img {
	border: solid 1px #2c3233;
}

/* * About Styles * */






/* * Footer Styles * */






