/* * Main Styles * */

.full-width {
	width: 1400px;
	clear: both;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 400px;
	float: left;
}



/* * Header Styles * */






/* * Portfolio Styles * */






/* * About Styles * */






/* * Footer Styles * */






